<div class="c-users">
  <div class="a-undelete">
    <div class="card mt-4 p-4 max-w-540px mx-auto flex flex-col gap-2">
      <h1 class="text-center">Undelete <%= link_to_user @user %></h1>

      <%= edit_form_for(:user, url: reactivate_user_path, html: { class: "w-full stacked-form" }) do |f| %>
        <%= f.simple_fields_for :email_address do |ef| %>
          <p>
            The user will be sent an email to reset their password.
            Make sure you have verified that they are the real account owner.
          </p>

          <%= ef.input :address, label: "Email address" %>

          <%= f.submit "Undelete", class: "button-primary", "data-confirm": "Are you sure you want to undelete this user?" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>
